.logo-img {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 280px;
    margin-top: 20px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
<<<<<<< HEAD
=======

p{
    font-family: Andale Mono, monospace;  
}
>>>>>>> c1f46d168db50daffb220e16c59fd1894c4a42ce
